<div class="container">
    <h1> Auto Complete Blazor Web App</h1>
    <h3>
        Created By :
        Kevin Octavianus Halim
    </h3>
    <br />
    <h2> Created Using :</h2>
    <ul>
        <li> Visual Studio 2022 ver 17.9.3</li>
        <li> .NET Framework 8.0</li>
    </ul>
    <br />
    <h3> I Decided To Use Blazor Because Blazor's Components work similar in Vue.Js</h3>
    <br />
    <h4> References in Web Development</h4>
    <ul>
        <li>
            <p> ToDo List CRUD using Vue.Js & Axios To Call API</p>
            GitHub Link : <a href=@link1> @link1 </a>
        </li>
        <br />
        <li>
            <p>
                FullStack Web Development <br />
                FrontEnd : Vue.Js, Axios , Vue Router. <br />
                BackEnd : Node.Js, MongoDB, Express, Mongoose. <br />
                Deployment Tool : Heroku. <br />
                Deployment URL : <a href=@link2> @link2 </a> <br />
                ** I Turned Off The Web Server because it charges every hour. **
            </p>
            GitHub Link : <a href=@link3> @link3</a>
        </li>
    </ul>
</div>
@code {
    string link1 = "https://github.com/CyaVain/vue_todo_app";
    string link2 = "https://uv-fullstack-e1e9ca900d10.herokuapp.com";
    string link3 = "https://github.com/CyaVain/fullstack_uv";
}
