@page "/api"
@rendermode InteractiveServer
@using AutoComplete_App.Components.Moleculs

<PageTitle>API</PageTitle>

<div class="container">
    <h2> Form</h2>
    <CountryComponent />

</div>

@code {
}
